doctype html
html
    head
        title Google API
        link(rel='stylesheet', href='../style.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet')
    body
        h1 /index
        form(method='GET' action='./logged')
            input(type='text' name='login' placeholder='login')
            input(type='password' name='password' placeholder='password')
            input(type='submit' value='Submit')