doctype html
html
    head
        title Google API
        link(rel='stylesheet', href='../style.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet')
    body
        h1 /logged